
.flex-container {
        display: flex;
        flex-direction: row;
        background-color: white;
        color: black;
       
        margin-left: 60px;
       
      }
      
.bg{
    background-image: url("img1.jpg");
    background-size: cover;
    height: 50vh;
    width: 100vw;
    
    

}
.text-bg{
    background: rgba( 237, 106, 106, 0.25 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 3px );
-webkit-backdrop-filter: blur( 3px );
width: 550px;
height: 200px;
margin-top: 180px;
margin-left: 100px;
padding: 40px;
color: white;
font-size: x-large;

}
.bg2{
    background-image: linear-gradient(to  right,#ff68c2, #ffdc5b);
    height: 50vh;
    width: 100vw;
   
}

.ordernow{
    color: white;
    text-align: center;
    margin-top: 20px;
    font-size: x-large;

}
.card{
    background-color: white;
    height: 370px;
    width: 250px;
    padding: 20px;
    margin-left: 140px;
    border-top-right-radius: 70px;
    border-bottom-left-radius: 70px;
    margin-bottom: 40px;
    text-align: center;
    font-size: large;

}
.flex-card {
    display: flex;
    flex-direction: row;
   
   
    margin-left: 30px;
    font-size: large;
  }
  .button{
    background: rgba( 255, 255, 255, 0.25 );
    
    backdrop-filter: blur( 20px );
    -webkit-backdrop-filter: blur( 20px );
    border-radius: 10px;
    margin-left: 700px;
    margin-top: 20px;
    padding: 10px;
    height: 60px;
    width: 180px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-left-radius:30px ;
    border-bottom-right-radius:30px ;
    color: black;
    font-size: x-large;
    font-weight: bold;
    margin-bottom: 100px;
    border-width: 0px;
    text-align: center;
  }
  .icon{
   justify-content: right;
   margin-left: 250px;
  }



  .flex-container {
    display: flex;
    flex-direction: row;
  }
  
  /* Responsive layout - makes a one column layout instead of a two-column layout */
  @media (max-width: 800px) {
    .flex-container {
      flex-direction: column;
    }
  }